.cc-window {
    background-color: #ffffff;
    font-size: 12px;
}

.cc-window,
.cc-window a,
.cc-window a:active,
.cc-window a:visited {
    color: #000000;
}

.cc-window .cc-btn.cc-allow {
    background-color: #000000;
    color: #ffffff;
}

.cc-window .cc-btn.cc-deny {
    color: #000000;
}

.cc-window .cc-link {
    padding: 0;
}

.cc-window .cc-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cc-window.cc-bottom {
    border-top: 1px solid;
    bottom: 0;
}

.cc-window.cc-floating {
    left: 0;
    max-width: 100%;
    right: 0;
}

.cc-revoke {
    display: none;
}
